.navigation {
    box-shadow: 0 1px 10px #999;
    top: 0;
    background-color: #fff;
    z-index: 10001;
}

.navigation-pos {
    position: sticky;
}

.navigation-icon {
    color: #b70808;
    font-size: 2rem;
    cursor: pointer;
}

.drawer-box {
    height: auto;
}

.nav-info-bar {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #707070;
}

.sm-icon {
    width: 20px;
    height: 20px;
    float: right;
}

.facebook-icon {
    margin-right: 20px;
}

.linked-in-icon {
    margin-right: 5px;
}

.contact-icon {
    float: right;
    margin-right: 30px;
}

.contact-icon label {
    font-size: 13px;
    margin-left: 4px;
    color: #302f2f;
    line-height: 30px;
    font-family: Poppins,sans-serif,serif;
    font-weight: 600;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.contact-icon label:hover {
    cursor: pointer;
    text-decoration: underline;
}

img {
    vertical-align: middle;
    border-style: none;
}

.nav-link-container {
    width: 100%;
    height: 120px;
}

.navigation-logo-container {
    height: 80px;
    margin-left: 20px;
    display: inline-block;
}

.navigation-item {
    color: #000;
    font-family: Poppins,serif,sans-serif;
    font-size: 19px;
    padding: 0 15px;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    cursor: pointer;
    font-weight: 600;
}

.navigation-logo {
    width: 190px;
    height: 100%;
    margin-top: 20px;
}

.navigationItem img {
    height: 100%;
    width: auto;
}

.navigation-items-container {
    height: 40px;
    margin-top: 40px;
    position: relative;
    margin-right: 20px;
    float: right;
    display: inline-flex;
    align-items: center;
}

.nav-dropdown {
    box-shadow: 0 3px 5px 1px rgba(0,0,0,0.1);
    position: absolute;
    top: calc(100% - 10px);
    background-color: #fff;
    visibility: hidden;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.nav-dropdown.about {
    left: 25px;
}

.nav-dropdown.work {
    left: 205px;
}

.about:hover:not(.areas) {
    color: red;
}

.areas:hover {
    color: red;
}

.about:hover .nav-dropdown:not(.areas .nav-dropdown) {
    visibility: visible;
}

.areas:hover .nav-dropdown {
    visibility: visible;
    left: 178px;
    top: 80px;
}

.work:hover:not(.services) {
    color: red;
}

.services:hover {
    color: red;
}

.work:hover .nav-dropdown:not(.services .nav-dropdown) {
    visibility: visible;
}

.services:hover .nav-dropdown {
    visibility: visible;
    left: 132px;
    width: 190px;
    top: 40px;
}

.nav-dropdown .navigation-item {
    display: block;
    text-align: left;
    font-size: 16px;
    padding: 0 10px;
    font-weight: 500;
}

.nav-dropdown .navigation-item:hover {
    color: red;
}

.inspection-button {
    height: 50px;
    width: 270px;
    background-color: #b70808;
    color: #fff;
    font: 20px Poppins,serif,sans-serif;
    text-transform: uppercase;
    border-radius: 12px;
    margin-left: 20px;
    font-weight: 600;
    cursor: pointer;
}

.footer-banner {
    background-color: #000;
    position: relative;
    text-align: center;
    color: #fff;
    height: 350px;
    z-index: 9998;
}

.footer-content {
    height: 65%;
    min-height: 200px;
    position: absolute;
    width: 80%;
    top: 20%;
    left: 10%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-content .footer-contact {
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer-content .footer-contact .footer-logo-image {
    width: 60%;
    height: auto;
    margin-bottom: 0;
}

.footer-content .footer-contact .footer-contact-icon {
    width: 100%;
    height: 40px;
    float: left;
    margin-top: 10px;
}

.footer-content .footer-contact .footer-contact-icon label {
    text-align: left;
    margin-left: 10px;
    /* display: inline-block; */
    color: #fff;
    font: 18px Poppins,sans-serif,Serif;
    font-weight: 500;
    float: left;
    margin-bottom: 0;
}

.footer-content .footer-contact .footer-contact-icon img {
    float: left;
    margin-top: 5px;
    /* display: inline-block; */
}

.footer-content .footer-contact .footer-contact-icon.phone img {
    height: 20px;
    width: 20px;
}

.footer-content .footer-contact .footer-contact-icon.email img {
    height: 15px;
    width: 20px;
}

.footer-content .footer-contact .footer-contact-icon.map img {
    height: 20px;
    width: 15px;
}

.footer-content .footer-services {
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-content .footer-services h3 {
    font: 20px Poppins,serif,sans-serif;
    margin-bottom: 0;
    font-weight: 600;
}

.footer-content .footer-services p {
    float: left;
    font: 18px Poppins,serif,sans-serif;
    font-weight: 500;
    margin-bottom: 0;
    text-align: left;
}

.footer-content .footer-services a {
    color: #fff;
}

.footer-content .footer-services .service-icon {
    font: 18px Poppins,serif,sans-serif;
    font-weight: 700;
    color: #fff;
    font-weight: bolder;
}

.footer-content .footer-social, .footer-content .footer-social .social-links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.footer-content .footer-social {
    max-width: 300px;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer-content .footer-social .social-links {
    -ms-flex-direction: row;
    flex-direction: row;
    height: 50px;
    width: 100%;
    margin-bottom: 50px;
}

.footer-content .footer-social .social-links img {
    height: 100%;
    width: auto;
}

.footer-content .footer-social .certs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-content .footer-social .certs img {
    max-width: 200px;
    height: auto;
}

.footer-copyright {
    width: 100%;
    height: 60px;
    background-color: #000;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer-copyright .policy-text, .footer-copyright p {
    color: #fff;
    font: 14px Poppins,serif,sans-serif;
    font-weight: 500;
}

.footer-banner img {
    width: 100%;
    height: 100%;
}

.footer-banner .banner-icon {
    width: 100px;
    height: auto;
    position: absolute;
    top: 0;
    left: calc(50% - 50px);
}

.footer-banner .footer-license-text {
    text-align: left;
    /* display: inline-block; */
    color: #fff;
    font: 18px Poppins,sans-serif,Serif;
    font-weight: 500;
    float: left;
    margin-bottom: 0;
    margin-left: 25px;
    margin-top: 25px;
}

.footer-banner .footer-license-text.bottom {
    margin-top: 10px;
}

.footer-copyright p {
    line-height: 60px;
    margin-right: 15px;
    margin-bottom: 0;
}

@media (max-width: 1500px) {
    .areas:hover .nav-dropdown {
        top: 60px;
    }

    .services:hover .nav-dropdown {
        top: 30px;
    }
}

@media (max-width: 1500px) and (min-width: 1100px) {
    .navigation-item {
        color: #000;
        font-family: Poppins,serif,sans-serif;
        font-weight: 600;
        font-size: 19px;
        padding: 0 8px;
        text-align: center;
        display: inline-block;
        line-height: 30px;
    }

    .inspection-button {
        font-size: 16px;
        width: 205px;
    }
}

@media (max-width: 1250px) and (min-width: 1100px) {
    .navigation-item {
        font-size: 18px;
        padding: 0 2px;
    }    
}

@media (max-width: 1099px) {
    .navigation-item {
        color: #fff !important;
        border-bottom: 1px solid #fff;
        width: 100%;
        display: inline-block;
        line-height: 40px;
        text-transform: uppercase;
    }

    .footer-services {
        display: none !important;
    }
}

@media (max-width: 850px) {
    .footer-social {
        display: none !important;
    }

    .footer-content {
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (max-width: 425px) {
    .sm-icon {
        display: none;
    }

    .contact-icon label {
        font-size: 11px !important;
    }
}