.video-container {
    width: calc(100vw - 17px);
}

.video-container .fullscreen-video {
    width: 100%;
}

.video-overlay {
    width: 600px;
    position: absolute;
    z-index: 1001;
    top: 290px;
    left: 250px;
}

.video-overlay .intro-header {
    font: 22px Poppins,sans-serif,serif;
    color: #fff;
    text-shadow: 0 0 10px #000;
    text-transform: uppercase;
    font-weight: bold;
}

.video-overlay .intro-description {
    font: 48px Poppins,sans-serif,serif;
    color: #fff;
    text-shadow: 0 0 10px #000;
    font-weight: 600;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.arrow-button-container {
    height: 65px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.4627450980392157);
    border-radius: 9px;
    border: 2px solid rgba(183,8,8,0);
    display: inline-flex;
    align-items: center;

    &:hover {
        border: 2px solid rgba(183,8,8,1);
        transition: border 0.2s;
    }
}

.video-overlay .arrow-button-container {
    width: 92%;
}

.arrow-button-container p {
    text-transform: uppercase;
    color: #b70808;
    font: 22px Poppins,Serif,sans-serif;
    margin-left: 15px;
    margin-bottom: 0;
    width: 100%;
    font-weight: 600;
}

.arrow-button-container img {
    float: right;
    margin: 1px 2px;
}

.what-we-do {
    width: 80%;
    max-width: 1200px;
    margin: 100px auto;
}

.what-we-do .small-text {
    font: 22px Poppins,serif,sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
}

.what-we-do .largeText {
    font: 44px Poppins,serif,sans-serif;
    color: #b70808;
    font-weight: 600;
}

.what-we-do .services-container {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 20px;
}

.what-we-do .services-container .single-service-image {
    max-width: 350px;
    height: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
}

.what-we-do .services-container .single-service-image img {
    width: 100%;
    height: auto;
}

.what-we-do .services-container .single-service-image .side-icon {
    position: absolute;
    width: 80px;
    height: 80px;
    right: 30px;
    top: 180px;
}

.what-we-do .services-container .single-service-image .service-header {
    font: 24px Poppins,serif,sans-serif;
    color: #b70808;
    margin-top: 10px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

.what-we-do .services-container .single-service-image .service-description {
    font: 18px Poppins,serif,sans-serif;
    font-weight: 500;
    color: #414040;
    margin-bottom: 10px;
}

.what-we-do .services-container .single-service-image .learn-more-link {
    font: 14px Poppins,serif,sans-serif;
    color: #b70808;
    text-transform: uppercase;
    font-weight: 600;
}

.home-process {
    width: 100%;
    height: 600px;
    background-color: #e6e6e6;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: row;
}

.home-process .process-arrow-container {
    width: 5%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.home-process .process-arrow-container img {
    width: 80%;
    margin: 0 auto;
    height: auto;
    cursor: pointer;
}

.home-process .process-arrow-container.left {
    float: left;
}

.home-process .process-arrow-container.right {
    float: right;
}

.home-process .process-image-container {
    margin-right: 100px;
    height: 70%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.home-process .process-image-container img {
    height: 75%;
}

.home-process .process-info-container {
    width: 300px;
    height: 400px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.home-process .process-header {
    text-transform: uppercase;
    font: 22px Poppins,serif,sans-serif;
    font-weight: 700;
}

.home-process .process-step-name {
    color: #b70808;
    font: 42px Poppins,sans-serif,serif;
    font-weight: 600;
}

.home-process .process-description {
    font: 20px Poppins,sans-serif,serif;
    font-weight: 500;
    color: #302f2f;
}

.home-process .process-slides-container {
    margin-top: auto;
    height: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-align: center;
    align-items: center;
}

.home-process .process-slides-container img {
    width: 40px;
    height: auto;
}

.work-banner-container {
    width: 100%;
    margin-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.work-banner-container .work-banner-section {
    width: 50%;
    display: inline-block;
    position: relative;
}

.work-banner-container .work-banner-section .work-info-container {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    margin: 50px auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.work-banner-container .work-banner-section .work-info-container .small-header {
    font: 20px Poppins,serif,sans-serif;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 600;
}

.work-banner-container .work-banner-section .work-info-container .large-header {
    color: #fff;
    font: 36px Poppins,sans-serif,serif;
    font-weight: 600;
}

.work-banner-container .work-banner-section .work-info-container .work-banner-description {
    color: #fff;
    font: 20px Poppins,sans-serif,serif;
    font-weight: 500;
    margin-bottom: 25px;
}

.work-banner-container .work-banner-section .work-info-container .arrow-button-container {
    width: 75%;
}

.products-background {
    width: 100%;
    height: 140px;
    background-color: #fff;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
}

.products-container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.products-container img {
    width: auto;
    height: 100px;
    margin-top: 15px;
}

.google-reviews-background {
    width: 100%;
    margin-bottom: 100px;
}

.google-reviews-background .reviews-content {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.google-reviews-background .reviews-content .success-text {
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0;
    font: 48px Poppins,serif,sans-serif;
    color: #b70808;
    font-weight: 600;
}

.google-reviews-background .reviews-content .success-subheader {
    text-align: center;
    font: 24px Poppins,serif,sans-serif;
    font-weight: 500;
    color: #302f2f;
}

.reviews-holder {
    height: 350px;
    margin-top: 50px;
}

.social-review-icons {
    width: 80%;
    max-width: 500px;
    height: 90px;
    margin: 0 auto 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: center;
}

.social-review-icons img {
    height: 100%;
    width: auto;
    cursor: pointer;
}

.reviews-holder {
    height: 350px;
    margin-top: 50px;
}

.reviews-arrow-container {
    width: 10%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.reviews-arrow-container img {
    width: 50%;
    margin: 0 auto;
    height: auto;
}

.reviews-arrow-container.right {
    float: right;
}

.reviews-arrow-container.left {
    float: left;
}

.google-reviews-list {
    width: 80%;
    display: -ms-flexbox;
    display: flex;
    float: left;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.google-reviews-list .review {
    width: 40%;
    height: 100%;
}

.review-user-info {
    width: 100%;
    height: 90px;
    display: -ms-flexbox;
    display: flex;
}

.review-user-info .review-photo-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.review-user-info .review-photo-container img {
    width: 60px;
    height: 60px;
}

.review-name-rating-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.review-name-rating-container .review-name {
    font: 22px Poppins,sans-serif,serif;
    font-weight: 500;
    margin-bottom: 0;
    text-indent: 15px;
}

.star-rating-container {
    width: 100%;
    height: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 5px;
}

.review-comment-container {
    width: calc(100% - 75px);
    float: right;
    max-height: 325px;
    margin: auto;
    overflow: hidden;
}

.review-comment-container .LinesEllipsis {
    font: 16px Poppins,sans-serif,serif;
    font-weight: 500;
    color: #302f2f;
    white-space: pre-wrap;
}

@media (max-width: 1500px) and (min-width: 850px) and (max-width: 1150px) {
    .intro-basics .intro-description {
        font-size: 36px !important;
    }

    .what-we-do .services-container .single-service-image {
        max-width: none;
        width: 30%;
        height: 100%;
        -ms-flex-positive: initial;
        flex-grow: 0;
        position: relative;
    }
}

@media (max-width: 1100px) {
    .video-overlay {
        top: 25% !important;
        left: 10% !important;
    }

    .what-we-do .services-container .single-service-image .side-icon {
        display: none !important;
    }
}

@media (max-width: 849px) {
    .video-overlay .intro-description {
        font-size: 28px !important;
    }

    .video-overlay .arrow-button-container {
        width: 350px !important;
        height: 45px !important;
    }

    .arrow-button-container img {
        width: 39px !important;
        height: 39px !important;
    }

    .arrow-button-container p {
        font-size: 18px !important;
    }

    .what-we-do .small-text {
        text-align: center;
        margin-bottom: 5px;
    }

    .what-we-do .largeText {
        font-size: 42px !important;
        text-align: center;
    }

    .what-we-do .services-container {
        width: 100%;
        display: block;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .what-we-do .services-container .single-service-image {
        max-width: inherit;
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        border-bottom: 1px solid #b70808;
        margin-bottom: 10px;
        -ms-flex-align: center;
        align-items: center;
    }

    .what-we-do .services-container .single-service-image .service-header {
        font-size: 24px !important;
        margin-top: 5px;
    }

    .what-we-do .services-container .single-service-image .service-description {
        font: 18px !important;
        margin-bottom: 5px;
        text-align: center;
    }

    .what-we-do .services-container .single-service-image .learn-more-link {
        font: 14px !important;
        margin-bottom: 5px;
    }

    .what-we-do .services-container .single-service-image img {
        max-width: 450px;
    }

    .home-process {
        display: block;
        height: inherit !important;
    }

    .home-process .process-arrow-container {
        display: none;
    }

    .home-process .process-image-container {
        width: 80%;
        padding-top: 20px;
        margin: 0 auto;
    }

    .home-process .process-image-container img {
        margin: 0 auto 10px;
        height: auto;
        max-width: 250px;
    }

    .home-process .process-info-container {
        width: 90%;
        height: inherit;
        margin: 0 auto;
        padding-bottom: 20px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
    }

    .home-process .process-header {
        margin-bottom: 5px;
    }

    .home-process .process-step-name {
        margin-bottom: 5px;
        font-size: 36px !important;
    }

    .home-process .process-description {
        text-align: center;
        font-size: 18px !important;
    }

    .home-process .process-slides-container {
        height: 40px;
        width: 300px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        -ms-flex-align: center;
        align-items: center;
    }

    .work-banner-container {
        width: 100%;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .work-banner-container .work-banner-section {
        width: 100%;
        display: block;
    }

    .work-banner-container .work-banner-section img {
        width: 100%;
    }

    .work-banner-container .work-banner-section .work-info-container {
        left: 5%;
        width: 90%;
    }

    .products-container {
        width: 100% !important;
    }
}